<!DOCTYPE html>

<html>

<head>
    <title>Help</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <p>{{helpText}}</p>
        <img src="https://github.githubassets.com/images/modules/open_graph/github-mark.png" alt="Github"
            style="width: 300px;">
    </div>

    {{>footer}}
</body>

</html>